<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Review $block */

use Elogic\Review\Block\Review; ?>
<div class="block block-customer-review">

    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-review"
              action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
              method="post"
              id="review-form"
              data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset review" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>">
                <div class="field content required">
                    <label class="label" for="content"><span><?= $block->escapeHtml(__('Content')) ?></span></label>
                    <div class="control">
                        <input name="content"  id="content" type="text" class="input-text" title="<?= $block->escapeHtmlAttr(__('Content')) ?>" data-validate="{required:true, }">
                    </div>
                </div>
                <div class="field customer required">
                    <label class="label" for="customer"><span><?= $block->escapeHtml(__('Customer Name')) ?></span></label>
                    <div class="control">
                        <input name="customer_name"  id="customer" type="text" class="input-text" title="<?= $block->escapeHtmlAttr(__('Customer')) ?>" data-validate="{required:true, }">
                    </div>
                </div>

                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" id="send2"><span><?= $block->escapeHtml(__('Add Review')) ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

