<?php
/** @var $block Elogic\Review\Block\Review */

?>
    <a href="<?= $block->escapeUrl($block->getFormUrl()) ?>"><?php echo __("Add review") ?></a>
    <form method="post"
          action="<?php echo $block->getFirstPageUrl() ?>">
        <input name="customer_name" type="text">
        <button type="submit"><?php echo __("Search by customer") ?></button>
    </form>

<?php

if ($block->getCustomer()) {
    echo __('Search ' . $block->getCustomer());
    ?>
    <div><a href="<?= $block->getFirstPageUrl() ?>"><?php echo __('Reset') ?></a></div>
<?
}
$data = $block->getReviews();
$pages = $block->getCountPages();
$numPage = $block->getNumPage();

if ($data) {
    foreach ($data as $item) { ?>
        <div>
            <br>
            <div>
                <span><?php echo __("Name") ?>: </span><span><?php echo $item['customer_name']; ?></span>
            </div>
            <div>
                <span><?php echo __("Content") ?>: </span><span><?php echo $item['content']; ?></span>
            </div>
            <div>
                <span><?php echo __("Create Time") ?>: </span><span><?php echo $item['creation_time']; ?></span>
            </div>
        </div>
    <?php }
} else {
    ?>
    <div><h2><?php echo __('Not Found') ?></h2></div>
    <?
}
if ($numPage != 1) {
    ?>
    <a href="<?= $block->getPageUrl($numPage - 1) ?>"><<</a>
<?php }
if ($pages != 1) {
    for ($i = 1; $i <= $pages; $i++) { ?>
        <?php if ($i != $numPage) { ?>
            <a href="<?= $block->getPageUrl($i) ?>"><? echo $i ?></a>
            <?php
        } else { ?>
            <span><?php echo $i ?></span>
        <?php }
    }
}
if (($numPage != $pages) && ($pages != 0)) {
    ?>
    <a href="<?= $block->getPageUrl($numPage + 1) ?>">>></a>
<?php } ?>